__pycache__/
*.pyc

**/logs/

**/*.pt
**/*.pth
**/*.safetensors
**/*.onnx
**/*.jit
**/*.bin
**/*.npy
**/*.TAG

**/models--*/

**/snakers4_silero-vad_*/

core_service/data/history/dialogue_history/*
core_service/data/current/*

CACHEDIR.TAG
.env
main.py
temp.py
test.py
/utils/
/searching_pipeline/
