__pycache__/
*.pyc

**/logs/

**/*.pt
**/*.pth
**/*.safetensors
**/*.onnx
**/*.jit
**/*.bin
**/*.npy

**/models--*/

**/snakers4_silero-vad_*/

CACHEDIR.TAG
.env
main.py
temp.py
tenp.py
test.py
utils
